<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fa-solid fa-biohazard" style="color: rgb(0, 255, 74);"></i>{{appName}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cadastro
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" onclick="api.window.open('pages/list-customer', { title: 'Clientes' })" style="cursor:pointer;">Cliente</a></li>
            <li><a class="dropdown-item" onclick="api.window.open('pages/list-product', { title: 'Produtos' })"style="cursor:pointer;">Produto</a></li>
            <li><a class="dropdown-item" onclick="api.window.open('pages/list-supplier', { title: 'Fornecedores' })"style="cursor:pointer;">Fornecedor</a></li>
            <li><a class="dropdown-item" onclick="api.window.open('pages/list-company', { title: 'Empresas' })"style="cursor:pointer;">Empresa</a></li>
            <li><a class="dropdown-item" onclick="api.window.open('pages/list-users', { title: 'Usuario' })"style="cursor:pointer;">Usuario</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>